node_modules
.env
.DS_Store
app/config/config.json
app/controllers/.DS_Store
app/controllers/api/.DS_Store
app/controllers/jobs/.DS_Store
app/views/.DS_Store
public/.DS_Store
app/config/client_secret.json
