 <!-- Navbar-->
 <header class="app-header"><a class="app-header__logo" href="/"><svg class="logo" data-name="G5 2018 Logo" viewBox="0 0 200 200"><defs><clipPath id="clip-path"><rect class="g5-logo-1" x="19" y="24.26" width="162" height="150.59"></rect></clipPath></defs><title>G5 Digital Marketing</title><g class="g5-logo-2"><path class="g5-logo-3" d="M74.41,71.59,64.28,91.22l22.43-.11c-1.07,2.2-5.39,9.69-5.39,9.69A37.79,37.79,0,0,1,76.05,104,28.72,28.72,0,0,1,63,107.28c-7.05,0-12.39-2.08-16.35-6.36s-5.74-9.86-5.38-16.68a38.66,38.66,0,0,1,1.2-7.62,44.71,44.71,0,0,1,8.36-16.09A42.09,42.09,0,0,1,74.11,46c8.73-1.88,19.54-.45,25.52,6.22.79.89,1.44,1.76,2.39,2.86,5.42-4.85,10.38-10.38,15.8-15.23-8.58-11-21.45-16.24-35.25-15.47-18.11,1-36,11.44-47.73,25.46A69.05,69.05,0,0,0,21,75.85,56.59,56.59,0,0,0,19.07,87.5a41.35,41.35,0,0,0,4,20.83,34,34,0,0,0,13.72,14.51c6,3.45,13.17,5.2,21.28,5.2a57.81,57.81,0,0,0,21.47-4.67h10l25.86-51.78Z"></path><path class="g5-logo-4" d="M171.07,91.16,181,72.05l-57.14-.51L97.93,123.46l18.57-.08s5.18-4.66,16.2-3.21a16.13,16.13,0,0,1,7.1,2.7,13.06,13.06,0,0,1,4.66,5.71,11.9,11.9,0,0,1,.79,3.33,15.79,15.79,0,0,1-2.33,9.22,23.81,23.81,0,0,1-6.08,6.8,21.81,21.81,0,0,1-4.36,2.59c-7.93,3.48-19.82,3.36-26.51-2.94l-16.32,16c8.36,8.58,21.87,11.7,33.27,10.94a53.85,53.85,0,0,0,14.58-2.91c14.66-5.24,28-19.38,30.69-35.13a30,30,0,0,0-9.54-27.75c-6.1-5.51-12.4-8.78-22.22-8.76a29.21,29.21,0,0,0-8.4,1.29l5.11-10.08Z"></path></g></svg></a>
  <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>

</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <p class="app-sidebar__user-name center col">Professional Services<br>Reporting</p>
  </div>
  <ul class="app-menu">
    <li><a class="app-menu__item <% if (slug == 'home') {%>active<%} %>" href="/"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span></a></li>
    
    <li class="treeview"><a class="app-menu__item <% if (slug == 'deadline-passed' || slug == 'at-risk-projects' || slug == 'active-projects') {%>active<%} %>" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">Project Status</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item <% if (slug == 'active-projects') {%>active<%} %>" href="/reports/active-projects">Active Projects</a></li>
      </ul>
    </li>
    <li class="treeview"><a class="app-menu__item <% if (slug == 'deadline-passed' || slug == 'at-risk-projects' || slug == 'active-projects') {%>active<%} %>" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-tasks"></i><span class="app-menu__label">Team Goals</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item <% if (slug == '/reports/teams/mrr/all') {%>active<%} %>" href="/reports/teams/mrr/all">Team MRR</a></li>
      </ul>
    </li>
    <!-- <li><a class=" app-menu__item" href="/reports/active-projects">Active Projects</a></li> -->
    <% if (user.user_group == 'admin') {%>
    <li class="treeview"><a class="app-menu__item <% if (slug == 'users') {%>active<%} %>" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cogs"></i><span class="app-menu__label">Admin</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item <% if (slug == 'users') {%>active<%} %>" href="/admin/users">Users</a></li>
        <li><a class="treeview-item <% if (slug == 'update') {%>active<%} %>" href="/admin/update">Update Data</a></li>
      </ul>
    </li>
    <%} %>
  </ul>
</aside>