<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if (typeof user !== 'undefined') {%> 
        <% if (user.group === "admin") { user.group%>
          <li>
            <a href="/jobs">Jobs</a>
          </li>
          <li class="">
            <a href="/add_user">Add a User</a>
          </li>
          <% } %>
      <%} else { %>
      <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li class="navbar-right">
        <% if (typeof user !== 'undefined') {%> 
            <a href="/logout">Log Out</a>
        <%} else { %>
        <% } %>
      </li>
    </ul>
  </div>
</nav>