<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if (typeof user !== 'undefined') {%>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="/reports/active-projects">Active Projects</a></li>
            <li><a href="/reports/at-risk-projects">At Risk Projects</a></li>
          </ul>
        </li>
        <% if (user.group === "admin") { user.group%>
         
          <!-- <li class="">
            <a href="/add_user">Add a User</a>
          </li> -->
          <% } %>
      <%} else { %>
      <% } %>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
    <li class="navbar-right">
        <% if (typeof user !== 'undefined') {%> 
            <a href="/logout">Log Out</a>
        <%} else { %>
        <% } %>
      </li>
    </ul> -->
  </div>
</nav>