<ul class="treeview-menu has-children">
  <li><a class="treeview-item <% if (slug == 'active-projects') {%>active<%} %>" href="/ps">Dashboard</a></li>
  <li class="dropright"><a class="treeview-item" href="#">Project Reports</a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="treeview-item" href="/ps/reports/active">Active Projects</a></li>
    </ul>
  </li>
  <li class="dropright"><a class="treeview-item" href="#">CFT Reports</a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="treeview-item" href="/ps/reports/mrr/teams/<%= link_data.date.year %>/<%= link_data.date.month %>"><%= moment(link_data.date.month + '/1/' + link_data.date.year).format( 'MMM') %>. Goals</a></li>
        <li><a class="treeview-item" href="/ps/reports/mrr/teams">MRR Goals Archive</a></li>
    </ul>
  </li>
  <li><a class="treeview-item <% if (slug == 'mrr') {%>active<%} %>" href="/ps/reports/mrr">MRR Reports</a></li>
</ul>