<ul class="treeview-menu has-children">
  <li><a class="treeview-item <% if (slug == 'active-projects') {%>active<%} %>" href="/ps">Dashboard</a></li>
  <li class="dropright"><a class="treeview-item" href="#">Project Reports</a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="treeview-item" href="/ps/reports/active">Active Projects</a></li>
    </ul>
  </li>
  <li><a class="treeview-item <% if (slug == 'mrr') {%>active<%} %>" href="/ps/reports/cft">CFT Reports</a></li>
  <li class="dropright"><a class="treeview-item" href="#">CFT Reports</a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="treeview-item" href="/ps/reports/mrr/teams/<%= link_data.date.year %>/<%= link_data.date.month %>">MRR Goals</a></li>
        <li><a class="treeview-item" href="/ps/reports/mrr/teams">MRR Goals Archive</a></li>
    </ul>
  </li>
  <li><a class="treeview-item <% if (slug == 'mrr') {%>active<%} %>" href="/ps/reports/mrr">MRR Reports</a></li>
</ul>
<!-- <li class="dropright"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
  <ul class="dropdown-menu settings-menu dropdown-menu-right">
    <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
    <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
    <li><a class="dropdown-item" href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
  </ul>
</li> -->