.page-header {
  color: #FF9800;
   }
  .jumbotron .btn-primary {
    background: #0f75bb;
    border-color: #0f75bb; }
    .jumbotron .btn-primary:hover {
      background: #0f75bb; }
  .jumbotron p {
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
.navbar{
    background-color: #0f75bb;
    border-color: transparent;
}
.navbar ul.nav li a{
    color:#fff;
}
.navbar ul.nav li a{
    color:#fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color:#fff;
}
.dropdown-menu{
  background-color: #0f75bb;
}
.jumbotron h1 {
  color:#FF9800;
}
.hero{
  margin-bottom: 0px;
}

#homenav nav.navbar {
  margin-bottom: 0px;
}
.job{
  text-align: center;
  background-color: #0f75bb;
  color: #fff;
  padding: 35px;
}
.job.middle{
  margin:0 12%;
}
.job h3 {
  margin: 0px;
  margin-bottom: 15px;
}
.job .btn{
  margin-top: 15px;
}

.btn{
  border-radius: 0px;
}
.btn-ghost{
  background-color: transparent;
  border:3px #fff solid;
  font-weight: 300;
  letter-spacing: 1px;
}
.btn-ghost:hover{
background-color: #fff;
color: #0f75bb;
}