
body, html {
    height: 100%;
    background-color: #e4e5e6;
  }
    /* Begin Nav */
  #sidebar {
    margin: 0px;
    height: calc(100vh - 55px) !important;
    position: fixed;
    transition: 2s;
    margin-top:55px;
  }
  #sidebar nav{
    height: calc(100vh - 100px);
  }
  #sidebar .nav-item a, #sidebar .nav-item {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
  }
  #sidebar .dropdown-menu {
       margin-left: 0px;
       background-color: transparent;
       border: none;
       position: relative !important;
       transform: none !important;
       transition: 2s
  }
  #sidebar .dropdown-menu a.dropdown-item{
      padding-left: 0px;
}
#sidebar .nav-item.title {
    margin-bottom: 20px;
}
  /* End Nav */

/* Begin Colors */

.bg-faded {
    background-color: #e9ecef;
}
.bg-navy{
    background-color:rgba(13, 34, 64, 1)
}
.navy-text {
    background-color:rgba(13, 34, 64, 1)
}
/* End Colors */
/* Begin SVG Logo */
.app-header__logo svg {
    height: 50px;
    margin-bottom: -17px;
}
.g5-logo-3{
    fill:#fff;
}
.g5-logo-4 {
    fill:#7a97ab;
}

/* End SVG Logo */
.center {
    text-align: center;
}

.brand {
    font-size: 250%;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    width:92px;
}
  .datepicker-dropdown {
    background-color: #fff;
  }
  .float-right {
    float: right;
  }
  .float-left {
    float: left;
  }
  .center{
    text-align: center;
  }
input {
    border: 1px solid #ccc;
    padding: 0.375rem 0.75rem;
    border-radius: 4px;
    border: 2px solid #ced4da;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 2px solid #ced4da;
    border-radius: 4px;
}
.input-daterange .input-group-addon {
    border-radius: 0px;
    padding: 0.5rem 0.75rem !important;
    border: 2px solid #ced4da !important;
}
.input-daterange input {
    border-radius:  4px 0px 0px 4px !important;
}
.input-daterange input:last-child {
    border-radius: 0 4px 4px 0 !important;
}
button.multiselect {
    border: solid 1px #0d2240;
}
.multiselect-container>li>a>label.checkbox {
    white-space:nowrap;
}
.tile {
    background-color: #fefefe;
}
body {
    text-transform: uppercase;
}
table.border-right {
border-right: 2px solid #dee2e6 !important;
}

/* Child  Sub-Nav Styles */
.treeview .dropdown-menu, .treeview .dropright:hover {
    background: #0d1214;
    /* background: #1d2123; */
}
.treeview .dropdown-menu .treeview-item:hover {
    background: #1d2123;
}
.treeview.is-expanded, .app-sidebar {
    overflow: visible;
}
ul.treeview-menu.has-children {
    overflow: visible !important;
}
.treeview-menu .dropright {
    position: relative;
}
.treeview-menu .dropright:hover {
    position: relative;
}
.treeview-menu .dropright .dropdown-menu {
    top:0;
	left:100%
}
.treeview-menu .dropright:hover .dropdown-menu  {
    display: block;
}
.treeview .treeview-menu {
    display: none;
}
.treeview.is-expanded .treeview-menu {
    display: block;
}
.red {
    color: #e94f3d;
}
.green {
    color: #22B04C;
}
.yellow {
    color: #FFD602;
}