<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>
<main class="app-content">

  <div class="app-title">
    <div>
      <h1>Active Projects</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Project Status</li>
      <li class="breadcrumb-item active"><a href="#">Active Projects</a></li>
    </ul>
  </div>
<div class="row">
  <div class="col">
  <div class="tile">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Priority</th>
          <th scope="col">Estimated Finish</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < projects.length; i++) { %>
            <tr>
              <td>
                <a href="<%= 'https://app.liquidplanner.com/space/' + lp_space_id +'/projects/show/' + projects[i].dataValues.id %>" target="_blank">
                  <%= projects[i].project_name %>
                </a>
              </td>
              <td>
                <%= projects[i].dataValues.lp_project_priorities[0].priority %>
              </td>
              <td>
                <%= moment(projects[i].dataValues.expected_finish).format( 'MMM-DD-YYYY') %>
              </td>
            </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
</div>
  <% include ../partials/footer.ejs %>
</main>