<% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Professional Services Reporting Dashboard</h1>
          <p>A quick way to get up-to-date on all things Liquid Planner</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="tile">
            <a href="/reports/active-projects">
            <h4 class="center">Active Projects</h4>
            <p class="center"><%= active_projects %></p>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile">
            <a href="/reports/at-risk-projects">
            <h4 class="center">Projects At Risk</h4>
            <p class="center"><%= at_risk_projects %></p>
          </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tile">
            <a href="/reports/deadline-passed">
            <h4 class="center">Tasks with Deadlines Passed</h4>
            <p class="center"><%= deadline_passed %></p>
          </a>
          </div>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>