<% include ../partials/header.ejs %>
  <% include ../partials/nav.ejs %>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1>Professional Services Reporting Dashboard</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
          </li>
        </ul>
      </div>
      <% include ../partials/month_dashboard.ejs %>
      <% include ../partials/quarter_dashboard.ejs %>
    </main>
    <% include ../partials/footer.ejs %>