<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
<div class="page-header text-center">

    <h1>PM Project Weights</h1>
  </div>
</div>
<div class="row">
<div class="container">
<div class="col-md-12">
<canvas id="pmProjectWeight" width="1200" height="600"></canvas>
</div>
</div>
</div>
<script>
        var ctx = document.getElementById("pmProjectWeight");
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [],
                datasets: [{
                        type: 'horizontalBar',
                        label: 'Planning',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, 1)',
                        borderColor: 'rgba(15,117,187, 1)',
                        stack: 1
                    },
                    {
                        type: 'horizontalBar',
                        label: 'Creative',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, .85)',
                        borderColor: 'rgba(15,117,187, .85)',
                        stack: 1
                    },
                    {
                        type: 'horizontalBar',
                        label: 'Build - Initial',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, .7)',
                        borderColor: 'rgba(15,117,187, .7)',
                        stack: 1
                    },
                    {
                        type: 'horizontalBar',
                        label: 'Build - All',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, .55)',
                        borderColor: 'rgba(15,117,187, .55)',
                        stack: 1
                    },
                    {
                        type: 'horizontalBar',
                        label: 'Launch Prep',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, .4)',
                        borderColor: 'rgba(15,117,187, .4)',
                        stack: 1
                    },
                    {
                        type: 'horizontalBar',
                        label: 'Launched',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, .25)',
                        borderColor: 'rgba(15,117,187, .25)',
                        stack: 1
                    },
                  {
                        type: 'horizontalBar',
                        label: 'Weighted Project Count',
                        data: [],
                        backgroundColor: 'rgba(15,117,187, 1)',
                        borderColor: 'rgba(15,117,187, 1)'
                    },
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                   scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
            }
        });

        $.getJSON( "/api/reports/pm/projectweight", function( data ) {
            //console.log(data);
            $.each(data, function(i, val){
                console.log(data[i]);
                myChart.data.labels.push(data[i]['project_manager']);
                myChart.data.datasets[0].data.push(data[i]['ps_planning']);
                myChart.data.datasets[1].data.push(data[i]['ps_creative']);
                myChart.data.datasets[2].data.push(data[i]['ps_build_initial']);
                myChart.data.datasets[3].data.push(data[i]['ps_build_all']);
                myChart.data.datasets[4].data.push(data[i]['ps_launch_prep']);
                myChart.data.datasets[5].data.push(data[i]['ps_launched']);
                myChart.data.datasets[6].data.push(data[i]['weighted_project_count']);
            });
            myChart.update();
        });

</script>
  <% include ../partials/footer.ejs %>
