<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id="homenav">
<% include ../partials/nav.ejs %>
</div>
<div class="jumbotron text-center hero">
  <div class="container">
    <h1>ProServices Reporting Dashboard</h1>
    <p>A quick way to get up-to-date ProService Scorecards along with productivity and revenue reports.</p>
  </div>
</div>
</body>
</html>