<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container">
<div class="page-header text-center">

    <h1>Monthly Goals</h1>
  </div>
</div>
<div class="row">
<div class="container">
<div class="col-md-12">
<canvas id="monthlyGoals" width="1200" height="600"></canvas>
</div>
</div>
</div>
<script>
        var ctx = document.getElementById("monthlyGoals");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan17', 'Feb17', 'Mar17', 'Apr17', 'May17', 'Jun17', 'Jul17', 'Aug17', 'Sep17', 'Oct17', 'Nov17', 'Dec17'],
                datasets: [{
                        type: 'bar',
                        label: 'MRR Launched',
                        data: [54045.90,73296.03,86923.20,47392.13,94860.10,125238.10,37588.30,55823.60,251844.30,0,0,0],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        stack: 1
                    },
                    {
                        type: 'bar',
                        label: 'MRR Backlog',
                        data: [0,0,0,0,0,0,0,0,0,32783.76,69453.94,39877.50],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        stack: 1
                    },
                    {
                        type: 'line',
                        label: 'MRR Goals',
                        data: [57999,57976,66353,60379,61627,64224,62712,75375,75375,87202,87804,101975,],
                        fill: false,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                    },
                    {
                        type: 'bar',
                        label: 'OTR Net Launched',
                        data: [121090.09,161178.90,235201.50,145166.75,278042.62,583715.16,100130.50,173955,584007,0,0,0],
                        backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        borderColor: 'rgba(255, 206, 86, 1)',
                        stack: 2
                    },
                    {
                        type: 'bar',
                        label: 'OTR NetBacklog',
                        data: [0,0,0,0,0,0,0,0,0,164677.06,353230.25,256342.00],
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        stack: 2
                    },

                    {
                        type: 'line',
                        label: 'OTR Net Goal',
                        data: [214516,181440,252104,193536,203213,212890,212890,251597,290304,417000,417000,417000],
                        fill: false,
                        backgroundColor: "rgba(255,159,64,0.4)",
                        borderColor: "rgba(255,159,64,1)",
                    },
                ]
            },            
	options: {
                responsive: true,
                legend: {
                    position: 'top'
                }
            }
        });

</script>
  <% include ../partials/footer.ejs %>
